.main{
    background-color: cyan;
}
.container{
    background-color:cyan;
    width:100%;
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

.navbar{
    width:50%;
    display:flex;
    float: right;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
}
.albums{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.album-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.cover{
    width: 200px;
    height: 200px;
}
.in-row{
    width: 100%;
    display: flex;
}
.remove{
    width:100px;
    height: 40px;
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.addAlbum {
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float:left;
  }
h1{
    color:black;
    text-align: left;
    font-size: 40px;
}

label{
    float:left;
    color:grey;
}
select{
    float:left;
}
select option {
    margin: 40px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}